$color-white: rgb(255,255,255);
$color-dark-grey: rgb(35,35,35);
$color-pastel-blue: rgb(212,235,241);
$color-red: rgb(212,0,0);
$color-ok-green: rgb(147,216,180);

$color-text-primary: rgb(85,85,85);
$color-corporate-primary: rgb(255,180,55);
html,body {
    color: $color-text-primary;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Zilla Slab',"Trebuchet MS", Helvetica, sans-serif;
}

small {
    font-style: italic;
}

ul {
    padding-left: 15px;
}

.header-image {
    height: 500px;
    overflow: hidden;

    background-image: url('../assets/images/badeand.jpg');
    background-position: center bottom;
    background-size: cover;
}

.text {
    &--center {
        text-align: center;
    }
}

.bg {
    &--duck {
        background-color: $color-corporate-primary;
    }

    &--dark {
        background-color: $color-dark-grey;
        color: $color-white;
    }

    &--pastel-blue {
        background-color: $color-pastel-blue;
        color: $color-dark-grey;
    }

    &--ok-green {
        background-color: $color-ok-green;
        color: $color-dark-grey;
    }
}
