.not-copyright {
    display: flex;
    justify-content: center;
    &:before {
        $size: 20px;

        content: '';

        display: inline-block;
        background-image: url('../assets/icons/crossed-copyright.png');
        background-size: $size $size;
        height: $size;
        width: $size;

        margin-right: 5px;

    }
}
