form {
    input {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding: 10px;

        +.error {
            display: none;
            color: $color-red;
        }
    }

    +.form-submitted {
        display: none;
    }
}
