section.row-centerer {
    margin: 0 -15px;

    > * {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 35px;
    }
}


.row {
    .column {
        padding-top: 25px;
        padding-bottom: 25px;

    }
    &--unpadded {
        padding-top: 0;
        padding-bottom: 0;

        .column {
            padding: 0;
        }
    }
}
